* {
  margin: 0;
}

.maindiv {
  background: url("/images/istockphoto-108150928-1024x1024.jpg");
  height: 100vh;
  width: 100%;
  color: #fff;
}
.headero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  border-bottom: 1px solid gray;
}

.header {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 30px;
}

.home {
  color: gray;
}

.header button {
  height: 30px;
  display: flex;
  gap: 6px;
  align-items: center;
  border-radius: 8px;
  border: none;
  padding: 0px 8px;
}

.header span {
  height: 20px;
  width: 20px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
}

.seconddiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.seconddiv h4 {
  font-weight: 200;
  color: gray;
}

.thirddiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(56, 95, 202);
}
.papadiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: auto;
  height: 50px;
  margin-top: 30px;
  border-radius: 10px;
}
.papadiv-child1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  background-color: transparent;
  color: black;
  height: 40px;
  gap: 100px;
}

.location select {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
}

.papadiv hr {
  height: 20px;
}

.allaread {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  background-color: transparent;
  color: black;
  height: 40px;
  padding: 0px 0px 0px 20px;
  /* gap: 100px; */
}

.allaread select {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  background-color: transparent;
  color: black;
  height: 40px;
  gap: 100px;
}

.location select {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.pricerange {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  background-color: transparent;
  color: black;
  height: 40px;
  gap: 10px;
}

.pricerange select {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.searchbutton {
  background-color: gray;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchbutton span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  color: gray;
}

.apartment span {
  height: 40px;
  width: 40px;
  background-color: gray;
  border-radius: 10px;
}
