* {
  height: auto;

  margin: 0;
  padding: 0;
  font-family: Roboto;
}
.all {
  background: url("/images/3 (1).png") no-repeat bottom center/cover;
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subdiv {
  background-color: #fff;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px 0px;
}
.subdiv h1 {
  margin-top: 30px;
  text-align: center;
}
.facebook {
  width: 500px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid gray;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
}

.facebook a {
  width: 20px;
}
a {
  text-align: center;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.Google {
  width: 500px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid gray;
  font-weight: 500;
  cursor: pointer;
}

.Google img {
  width: 26px;
  height: 26px;
}

.Apple {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 50px;
  border: 1px solid gray;
  gap: 10px;
  cursor: pointer;
}

.Apple i {
  width: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.facebook i {
  width: 20px;
  color: blue;
  font-size: 20px;
}
.line0 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 6px;
}

.line1 {
  height: 2px;
  border-bottom: 1px solid gray;
  width: 238px;
}

.line0 p {
  color: gray;
  font-size: small;
}

.email input {
  margin-top: 6px;
  height: 18px;
  width: 97%;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  padding: 10px;
}

.email {
  width: 500px;
  margin-top: 0;
  color: gray;
}
.signin {
  width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.signin button {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: blue;
  border: none;
  color: #fff;
}
